.PuzzlesPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 50px;
}
.title {
    font-size: 40px;
    color: #e98074;
    margin-top: 10px;
    margin-bottom: 15px;
}
.link {
    margin-right: 20px;
    font-size: 25px;
}
.link1 {
    margin-left: 20px;
    font-size: 25px;
}
.main-pic1 {
    height: 360px;
    width: auto;
}
.skill-p {
    font-size: 12px;
}
.desc {
    font-size: 20px;
}
.nav {
    grid-column: 1 / 3;
}

a {
    text-decoration: none;
}
a:link, a:visited, a:hover {
    color: black;
}
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-rows: 80px 155px 1fr;
        grid-template-areas: "nav"
                            "main"
                            "aside";
        grid-column-gap: 0;                           
    }

    .nav {
        grid-area: nav;

    }
    .title {
        font-size: 28px;
        color: #e98074;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .link {
        margin-right: 10px;
        font-size: 15px;
    }
    .link1 {
        margin-left: 10px;
        font-size: 15px;
    }
    .main1 {
        grid-area: main;
        height: 150px;
        margin: 0 auto;
        text-align: center;
    }
    .main-pic1 {
        height: 150px;
        width: auto;
    }
    .aside {
        grid-area: aside;
    }
    .flexbox {
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }
    .skill-p {
        font-size: 12px;
    }
    .desc {
        font-size: 14px;
    }
}